<!doctype html>

{% extends "MainApp/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}

{% load py_functions %}
<div class="cover-container">
  <main role="main" class="inner cover">
    <img src=  "{{CoverPhoto}}"  class = "img-fluid" alt="{{ CoverAltText }}">
    <h1 class="cover-heading ">{{ CoverTitle }}</h1>
    <p class="lead">{{ CoverText }}</p>

    <p class="lead">
      <!-- <a class="btn btn-lg btn-primary lightbox-202426957335055 cover-heading" style="margin-top: 16px" >{{CoverButton}}</a> -->
      <a class="{{CoverButtonClass}}" href="{{CoverButtonLink}}" role="button">{{CoverButton}}</a>
    </p>
  </main>
</div>
<!-- _______________________________________________________________________ -->
{% endblock %}
