<!DOCTYPE html>
{% extends "MainApp/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
  <div class="container">
    <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
        var JFL_202426957335055 = new JotformFeedback({
          formId: '202426957335055',
          base: 'https://form.jotform.com/',
          windowTitle: 'Bagel Order Form',
          background: '#FFA500',
          fontColor: '#FFFFFF',
          type: 'false',
          height: 500,
          width: 700,
          openOnLoad: false
        });
    </script>
      <a class="btn lightbox-202426957335055" style="margin-top: 16px">
        Bagel Order Form
      </a>
  </div>
<!-- _______________________________________________________________________ -->
{% endblock %}
