<!DOCTYPE html>
{% extends "MainPage/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
<div class="container ">
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete:</p>
    <h4> {{ object|safe }}</h4>
    <input type="submit" class = 'btn btn-danger' name="" value="Confirm">
      <a href="javascript:history.back()" class= "btn btn-sm btn-secondary">Cancel</a>
  </form>

</div>
<!-- _______________________________________________________________________ -->
{% endblock %}
