<!DOCTYPE html>
{% extends "MainPage/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
  <div class="jumbotron text-dark ">
    <h1>Batches</h1>
    {% if user.is_authenticated %}
      <a class = "btn btn-outline-success" href="{% url 'Baking:ActiveSales_new'%}">Add Content</a>
    {% endif%}
    {% for b in batches %}
    <div class="container text-left">
      <h2>{{b.batch}} ({{b.start_sales}} to {{b.end_sales}})</h2>
      {% if b.active %}
      <h4>ACTIVE BATCH</h4>
      {% endif %}
      {% if batch.Batch_Notes %}
      <div class="f-text">
        <p>{{b.Batch_Notes|safe|linebreaks}}</p>
      </div>
      {% endif %}
      <ul>
        <li>Plain Sold: {{b.Plain_sold}}</li>
        <li>Sesame Sold: {{ b.Sesame_sold }}</li>
        <li>Salt Sold: {{ b.Salt_sold }}</li>
        <li>Onion Sold: {{ b.Onion_sold }}</li>
        <li>Poppy Sold: {{ b.Poppy_sold }}</li>
        <li>Garlic Sold: {{ b.Garlic_sold }}</li>
        <li>Everything Sold: {{ b.Everything_sold }}</li>
        <li>Cream Cheese Sold: {{ b.CreamCheese_sold }}</li>
        {% if b.RandomBake %}
        <li>RandomBake Sold: {{ b.RandomBake_sold }}</li>
        <li>RandomBake Description: {{ b.RandomBake|safe }}</li>
        {%endif%}
      </ul>
      {% if user.is_authenticated %}
      <a class = "" href="{% url 'Baking:ActiveSales_update' pk=b.pk %}">edit</a> &middot;
      <a class = "" href="{% url 'Baking:ActiveSales_remove' pk=b.pk %}">delete</a> &middot;
      <a class = "" href="{% url 'Baking:tickets'%}?batch={{b.batch}}">tickets</a> 
      {% endif %}
      <hr class="featurette-divider ">
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <a class = "btn btn-outline-success" href="{% url 'Baking:ActiveSales_new'%}">Add Content</a>
    {% endif%}
  </div>
<!-- _______________________________________________________________________ -->

{% endblock %}
