<!DOCTYPE html>
{% extends "MainPage/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
  <div class="container">
    <h1> Feature Entries</h1>
    {% for feature in featurette_list %}
    <div class="container">
      <h3> <a href="{% url 'Baking:featurette_detail' pk=feature.pk %}">{{feature.title}}</a> </h3>
      <p class ='text-left'>{{content.description|safe|linebreaks}}</p>
    </div>
    {% endfor %}
  </div>
<!-- _______________________________________________________________________ -->
{% endblock %}
