<!DOCTYPE html>
{% extends "MainPage/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
  <div class="container">
    <h1> Orders </h1>
    {% for order in orders_list %}
    <div class="container">
      {% if order.delivered%}
        <h5>{{order.batch}} {{order.customer.Fname}} {{order.customer.Lname}} | Delivered: {{order.delivered}}</h5>
        <p>{{order.delivery_notes}}</p>
      {% else %}
      <div class="jumbotron text-dark">
        <h4>{{order.delivorder}}: <a href="{% url 'Baking:order_detail' pk=order.pk %}">{{order.batch}} {{order.customer.Fname}} {{order.customer.Lname}} ---> Navigate and Deliver.</a> </h4>

        <p>{{order.deliveryinfo}}</p>
        <a class = "" href="{% url 'Baking:orders_update' pk=order.pk %}">edit</a>
      </div> 
      {%endif%}
      
      <hr class="featurette-divider ">
    </div>
    {% endfor %}
  </div>
<!-- _______________________________________________________________________ -->
{% endblock %}
