<!DOCTYPE html>
{% extends "MainPage/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
<script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
    var JFL_202426957335055 = new JotformFeedback({
      formId: '202426957335055',
      base: 'https://form.jotform.com/',
      windowTitle: 'Bagel Order Form',
      background: '#FFA500',
      fontColor: '#FFFFFF',
      type: 'false',
      height: 500,
      width: 700,
      openOnLoad: false
    });
</script>
<div class="cover-container">
  <main role="main" class="inner cover">
    <h1>Friends and Family Early Orders</h1>
    {% if  "Sold Out!" in CoverTitle %}
      <img src=  "{% static '/media/sold_out_Batch.png' %}"  class = "img-fluid" alt="Sold Out!">
    {% else %}
      <img src=  "{% static '/media/Plate_of_bagels.png' %}"  class = "img-fluid" alt="Sales Open!">
    {% endif %}
    <!-- <h1 class="cover-heading ">{{ CoverTitle }}</h1> -->
    <div class="lead text-left">{{ CoverText }}</div>
    <div class="lead">Bagels being produced this week: {{ BagelsAvailable }}  |  Bagels sold this week: {{ BagelsSold }}</div>
      <div class="lead text-left">{{DeliveryInfo}}</div>
    <p class="lead">
      <a class="{{CoverButtonClass}}" href="{{CoverButtonLink}}" style="margin-top: 16px" >{{CoverButton}}</a>
    </p>
  </main>
</div>
  <!-- <div class="container">
    <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
        var JFL_202426957335055 = new JotformFeedback({
          formId: '202426957335055',
          base: 'https://form.jotform.com/',
          windowTitle: 'Bagel Order Form',
          background: '#FFA500',
          fontColor: '#FFFFFF',
          type: 'false',
          height: 500,
          width: 700,
          openOnLoad: false
        });
    </script>
      <a class="btn lightbox-202426957335055" style="margin-top: 16px">
        Bagel Order Form
      </a> -->

<!-- _______________________________________________________________________ -->
{% endblock %}
