<!DOCTYPE html>

{% extends "MainPage/base.html" %}

{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
{% load py_functions %}
  <div class="container ">
    <h1>Order: {{orders.batch}}</h1>
    <h2>{{orders.customer.Fname}} {{orders.customer.Lname}}</h2>
    <h4>{{orders.invoiceid}}</h4> 
      <div><table class="align-center">
        <tr>
          <th>{{orders.deliveryinfo|DeliveryInfo|linebreaks}}</th>
          <th>{{orders.cart|TicClean|linebreaks}}</th>
        </tr>
        <tr>
          <th><a class="btn btn-secondary" href="{{orders.deliveryinfo|gMap}}" target = '_blank'>Navigate!</a></th>
          <form action={% url "Baking:text_it" %} method="POST" ><th>
            {% csrf_token %}
            <input type="hidden"  name = 'OrderID' id='OrderID' value= '{{orders.id}}'  >
            <input type="hidden" name='delivorder' id = 'deliverorder' value = {{orders.delivorder}}>
            <input type="hidden" name = 'phone' id = 'phone' value = {{orders.deliveryinfo|phone_nmbr}}>
            <input type = "submit" value = 'Delivered' class="btn btn-warning"  ></form></th>
        </tr>
      </table></div>

<div>    

  </div>
<!-- _______________________________________________________________________ -->
{% endblock %}
