<!DOCTYPE html>
{% extends "MainPage/base.html" %}
{% block body_block %}
<!-- _______________________________________________________________________ -->
{% load static %}
  <div class="jumbotron text-dark ">
    <h1> Thank You</h1>
      <p class ="text-justify" >{{BATCH_ID}} is sceduled for delivery on {{delivered}}. We shoot to have deliveries completed by noon. We'll leave your bagels and other goodies at your front door and then send a text message and an email for confirmation. We generally (unless you request it in the delivery notes) will not knock or ring the bell--we understand how deliveries with door knocks and ringing door bells can drive the calmest dog to distraction.. </p>
      {% if fName != "Error" %}
        <p class ="text-justify">{{fName}}, we appreciate your order of: </p>
      {% else %}
      <p class ="text-justify">We appreciate your order of: </p>
      {% endif %}
        <ul class ="text-justify">
          {% for t in ticket %}
            <li>{{t}}</li>
          {% endfor %}
        </ul>
  </div>
<!-- _______________________________________________________________________ -->
{% endblock %}
